.navbar{
	background-color: black;
}
.backs
{
	width: 4rem;
	height: 3.5rem;
	margin-left: -2rem;
}
.gravi{
	width: 12rem;
	margin-left: 0rem;

}
.login
{
	padding-left: 10rem;
}
.nav-item{
	padding-left: 5rem;
	padding-right: 10%;
	font-weight: bold;
	font-size: 22px;
}
#mathbee{
	padding-left: 3rem;
}
@media only screen and (max-width: 1080px){
	.backs{
		width: 4rem;
		height: 3.5rem;
	}
	.gravi{
		margin-left: 0rem;
		width:10rem;
	}
	.nav-item{
		padding-left: 0rem;
	}
	#mathbee{
	padding-left: 0rem;
}
}
